package {{ packageName }}.mapper;

import java.util.List;
import {{ packageName }}.domain.{{ ClassName }};
{% if tpl_type == "sub" and subClassName is defined %}
import {{ packageName }}.domain.{{ subClassName }};
{% endif %}

/**
 * {{ functionName }}Mapper接口
 * 
 * @author {{ author }}
 * @date {{ datetime }}
 */
public interface {{ ClassName }}Mapper 
{
    /**
     * 查询{{ functionName }}
     * 
     * @param {{ pkColumn.java_field }} {{ functionName }}主键
     * @return {{ functionName }}
     */
    public {{ ClassName }} select{{ ClassName }}By{{ pkColumn.cap_java_field }}({{ pkColumn.java_type }} {{ pkColumn.java_field }});

    /**
     * 查询{{ functionName }}列表
     * 
     * @param {{ className }} {{ functionName }}
     * @return {{ functionName }}集合
     */
    public List\u003c{{ ClassName }}\u003e select{{ ClassName }}List({{ ClassName }} {{ className }});

    /**
     * 新增{{ functionName }}
     * 
     * @param {{ className }} {{ functionName }}
     * @return 结果
     */
    public int insert{{ ClassName }}({{ ClassName }} {{ className }});

    /**
     * 修改{{ functionName }}
     * 
     * @param {{ className }} {{ functionName }}
     * @return 结果
     */
    public int update{{ ClassName }}({{ ClassName }} {{ className }});

    /**
     * 删除{{ functionName }}
     * 
     * @param {{ pkColumn.java_field }} {{ functionName }}主键
     * @return 结果
     */
    public int delete{{ ClassName }}By{{ pkColumn.cap_java_field }}({{ pkColumn.java_type }} {{ pkColumn.java_field }});

    /**
     * 批量删除{{ functionName }}
     * 
     * @param {{ pkColumn.java_field }}s 需要删除的数据主键集合
     * @return 结果
     */
    public int delete{{ ClassName }}By{{ pkColumn.cap_java_field }}s({{ pkColumn.java_type }}[] {{ pkColumn.java_field }}s);
{% if tpl_type == "sub" and subClassName is defined %}

    /**
     * 批量删除{{ subTableComment }}
     * 
     * @param {{ pkColumn.java_field }}s 需要删除的数据主键集合
     * @return 结果
     */
    public int delete{{ subClassName }}By{{ SubTableFkClassName }}s({{ pkColumn.java_type }}[] {{ pkColumn.java_field }}s);

    /**
     * 批量新增{{ subTableComment }}
     * 
     * @param {{ subclassName }}List {{ subTableComment }}列表
     * @return 结果
     */
    public int batch{{ subClassName }}(List<{{ subClassName }}> {{ subclassName }}List);

    /**
     * 通过{{ functionName }}主键删除{{ subTableComment }}信息
     * 
     * @param {{ pkColumn.java_field }} {{ functionName }}ID
     * @return 结果
     */
    public int delete{{ subClassName }}By{{ SubTableFkClassName }}({{ pkColumn.java_type }} {{ pkColumn.java_field }});
{% endif %}
}
